# R files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# LaTeX files
*.aux
*.log
*.lof
*.lol
*.lot
*.out
*.toc
*.pyg
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz

# Generated data and graphics
code/*.RData
graphics/*.png
graphics/*.pdf

# Other
.crush/

# Generated output files
*_log.txt
*.csv